footer{
    height: auto;
    width: 100%;
    background-color: #2f353b;
}
.information-line{
    width: 100%;
    height: 3px;
    background-color: #ee4d2d;
}
.information{
    display: flex;
    justify-content: space-around;
    padding: 20px 30px;
}
.leftInfo{
    width: 545px;
    height: auto;
}
.rightInfo{
    width: 545px;
    height: auto;
}