main{
    height: auto;
    background-color: rgb(250, 250, 250);
    padding-top: 100px;
    padding-bottom: 100px;
}

main .container .row{
    width: 1200px;
    height: auto;
}

.product{
    width: 100%;
    padding-top: 10px;
}
.product a{
    display: flex;
    height: 100%;
    width: auto;
    text-decoration: none;
    color: rgba(0,0,0,.87);
}
.product a:hover{
    color: rgba(0,0,0,.87);
}

.product .container{
    height: auto;
}

.product .row{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.product .col-2 {
    height: 292px;
    padding: 5px;
}
.product .wrapper-product{
    height: 100%;
    flex-direction: column;
    border: 1px solid transparent;
    box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 10%);
    border-radius: 0.125rem;
}
.product .col-2 .contain-img {
    width: 188px;
    height: 188px;
    margin: 0;
}

.product .col-2 img {
    width: 188px;
    height: 188px;
}   

.product .col-2 .wrapper-text-product {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 8px;
}

.wrapper-product-name{
    flex: 1 0 auto;
    flex-direction: column;
}

.wrapper-name{
    flex-grow: 1;
    max-height: 1.75rem;
}
.product-name{
    line-height: 14px;
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.product-detail{
    align-items: baseline;
    max-width: 100%;
}
.product-price{
    flex: 1 0 auto;
    max-width: 75%;
    color: #ee4d2d;
}
.add-to-cart-btn form button{
    padding: 0px;
    width: 82px;
    height: 30px;
    font-size: 12px;
}
.nav-product-button{
    width: 40%;
    height: 30px;
}
.nav-product-button a{
    width: 30%;
    background-color: #fff;
    font-size: 14px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 9%);
    border-radius: 2px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}