.d-flex {
    display: flex;
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-danger.dropdown-toggle:focus {
    box-shadow: none;
    background-color: #FF7E86;
}
a{
    text-decoration: none !important;
}
.btn-danger:focus {
    box-shadow: none !important;
}

body {
    overflow: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
}

.checkout-form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #000;
    border-radius: 4px;
    z-index: 999;
}

.checkout-form .head{
    margin: 0px 15px;
    padding: 10px 70px;
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.366);
}

.checkout-form .body{
    margin: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
}

.checkout-form .body .input{
    display: flex;
    flex: 0.6;
    justify-content: center;
    padding-bottom: 20px;
}

.checkout-form .body .input label{
    width: 150px;
}

.checkout-form .body .input input{
    display: flex;
    flex: 0.6;
    border: 1px solid #000;
    border-radius: 3px;
}

.checkout-form .foot{
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.checkout-form .foot button{
    width: 100px;
}

.checkout-form .foot button:first-child{
    margin-right: 50px;
}

header {
    width: 100%;
    background: linear-gradient(to top, #FF6533 0%, #F53E2D 100%);
    z-index: 1;
}
.nav {
    display: flex;
    align-items: center;
}
.topHead{
    width: 79%;
    margin: 0 auto;
}
.topHead .navbar ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 490;
    line-height: 15.6px;
    margin: 0;
    padding-right: 10px;
    padding-left: 0px;
}

.navbar ul li a:hover {
    color: #fff;
    opacity: 0.6;
}

.separator {
    height: 13px;
    width: 3px;
    border-right: solid 1px #fff;
    border-left: solid 1px #fff;
    opacity: 0.6;
    margin-right: 10px;
}

main{
    width: 100%;
    min-height: 532px;
    background-color: #F5F5F5;
    padding-bottom: 50px;
}

.wrapHeaderSearch {
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.09);
    height: 6.25rem;
}
.wrapper-searchbar{
    width: auto;
}
.searchbar{
    width: 38.8125rem;
    --focus-indicator-spacing: 3px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 2.5rem;
    box-sizing: border-box;
    padding: 0.1875rem;
    border-radius: 2px;
    background: #fff;
    padding: 0;
    border: 2px solid #ee4d2d;
}
.logo{
    align-items: center;
}
.logo .shop-name{
    margin-left: 5px;
    color: #ee4d2d;
    font-size: 25px;
    line-height: 1.875rem;
    height: 1.875rem;
    margin-bottom: 0.0625rem;
    text-transform: capitalize;
    font-weight: 500;
}
.logo .text{
    margin-left: 0.9375rem;
    border-left: 0.0625rem solid #ee4d2d;
    color: #ee4d2d;
    font-size: 1.25rem;
    line-height: 1.875rem;
    height: 1.875rem;
    padding-left: 0.9375rem;
    margin-bottom: 0.0625rem;
    text-transform: capitalize;
}
header .input{
    display: flex;
    flex: 1;
    padding-left:10px;
}
.searchbar form{
    display: flex;
    flex: 1;
    box-sizing: border-box;
    position: relative;
}
header.input input{
    display: flex;
    flex: 1;
    align-items: center;
    outline: none;
    border: 0;
    padding: 0;
    margin: 0;
}

.searchbtn {
    width: 60px;
}

.searchbtn:focus {
    box-shadow: none;
}

.searchbtn {
    align-items: center;
    justify-content: center;
    height: 34px;
    min-width: 60px;
    max-width: 190px;
    border-radius: 2px;
}

.searchbtn button{
    justify-content: center;
    align-items: center;
    padding: 15px 23px;
    color: white;
    background-color: #ee4d2d;
    border: none;
}
main{
    display: flex;
    flex-direction: column;
    color: rgba(0,0,0,.8);
    padding-top: 20px;
}
main .wrapper-head-cart{
    display: flex;
    align-items: center;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 0.125rem;
    overflow: hidden;
    border-radius: 3px;
    height: 55px;
    font-size: 14px;
    background: #fff;
    margin-bottom: 12px;
    color: #888;
    padding: 0 20px;
}

main .wrapper-head-cart .title-product{
    color: rgba(0,0,0,.8);
    width: 46.27949%;
}

main .wrapper-head-cart .title-price{
    width: 15.88022%;
    text-align: center;
}
main .wrapper-head-cart .title-quantity{
    width: 15.4265%;
    text-align: center;
}
main .wrapper-head-cart .title-total-bill{
    width: 10.43557%;
    text-align: center;
}
main .wrapper-head-cart .title-action{
    width: 12.70417%;
    text-align: center;
}

main .container{
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
}

main .container .product{
    border-radius: 0.125rem;
    overflow: hidden;
    background: #fff;
    overflow: visible;
    padding-left:10px;
}

.wrapper-margin-product{
    border-radius: 2px;
    margin: 22px 20px;
}

.wrapper-margin-product .wrapper-padding-product{
    margin-top: 0;
    padding: 16px 0;
}

.wrapper-margin-product .wrapper-padding-product .wrapper-product{
    display: flex;
    align-items: center;
}

.wrapper-padding-product .wrapper-product .product{
    display: flex;
    width: 29.03811%;
    box-sizing: border-box;
    position: relative;
    align-items: center;
}
main .product-container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    color: rgba(0,0,0,.8);
    margin-bottom: 0.9375rem;
    border: 1px solid rgba(0, 0, 0, 0.09);
}
.wrapper-product .product .product-image{
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}
.wrapper-product .product .wrapper-name{
    line-height: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 5px 20px 0 10px;
    font-size: 14px;
}
.wrapper-product .product .product-name{
    text-decoration: none;
    color: rgba(0,0,0,.87);
    display: block;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 16px;
    overflow: hidden;
    width: 223px;
    height: 32px;
}

.wrapper-product .space{
    width: 17.24138%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-product .price{
    flex-direction: column;
    width: 15.88022%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 15.4265%;
}
.quantity button{
    width: 32px;
    height: 32px;
    font-size: .875rem;
    font-weight: 300;
    line-height: 1;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0,0,0,.8);
}
.quantity button svg{
    font-size: 10px;
    width: 10px;
    height: 10px;
    flex-shrink: 0;
}
.quantity input{
    border: 1px solid rgba(0,0,0,.09);
    width: 52px;
    height: 32px;
    padding: 1px 2px;
    text-align: center;
    justify-content: center;
}
.wrapper-product .total-price{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.43557%;
    color: #ee4d2d;
}
.wrapper-product .action{
    width: 12.70417%;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout-detail{
    max-width: 1175px;
    height: 100px;
    background-color: #fff;
    position: sticky;
    bottom: 0;
    left: 173px;
    z-index: 1;
}

.checkout-detail::before{
    content: "";
    position: absolute;
    top: -1.25rem;
    left: 0;
    height: 1.25rem;
    width: 100%;
    background: linear-gradient(transparent,rgba(0,0,0,.06));
}

.checkout-detail .detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    padding-top: 3%;
    font-size: 20px;
}

.checkout-detail .detail .right-block{
    display: flex;
    align-items: center;
}

.checkout-detail .detail .right-block .price{
    color: #ee4d2d;
}

.checkout-detail .detail .right-block .checkout-btn{
    color: #fff;
    margin-left: 40px;
}

.out {
    animation: scale-display--reversed .3s;
    animation-fill-mode:forwards;
    display: inline-flex;
}
@keyframes scale-display--reversed {
    0% {
        display: inline-flex;
        opacity: 1;
    }
    99% {
        display: inline-flex;
        opacity: 0;
    }
    100% {
        display: none;
        opacity: 0;
    }
}

.active {
    animation: scale-display .3s;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    background-image: none;
    background-position: center;
    background-attachment: fixed;
}

@keyframes scale-display {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blur {
    filter: blur(5px);
}